@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


html {
    scroll-behavior: smooth;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

@media screen and (prefers-reduced-motion: reduce) {
html {
		scroll-behavior: auto;
	}
}

body {
    margin: 0;
    /* text-transform: lowercase; */
    scroll-snap-type: both mandatory;
}

.sidenav {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    right: 0;
    height: 100vh;
    /* border-radius: 73px 0 0 73px; */
}

.sidenav a {
    text-align: center;
    padding: 24.5px 0;
    transition: all 0.35s ease;
    color: white;
    font-size: 36px;
    border-radius: 0 40px 40px 0;
}

.sidenav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* for all pages */

#about,
#projects,
#skills,
#contact {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: calc(100vw - 90px);
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: start;
    overflow: hidden;
}

/* area {
    position: fixed;
    height: 100%;
} */

#about {
    background: linear-gradient(#05668D, rgb(4, 77, 105));
}
#projects {
    background: linear-gradient(#028090, #015964);
    flex-direction: row-reverse;
}
#skills {
    background: linear-gradient(#00A896, rgb(1, 112, 101));
}
#contact {
    background: linear-gradient(#02C39A, rgb(0, 131, 102));
    flex-direction: row-reverse;
}

.container {
    flex-flow: wrap;
    /* height: 50%; */
    /* width: 40%; */
    padding: 15px;
    background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
    border-radius: 0 60px 60px 60px;
    box-shadow: 1rem 1rem black;
    /* overflow: auto; */
}

.block {
    padding: 1px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1px;
}

h1 {
    margin: 0;
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
    margin: 0;
    text-shadow: 5px 5px black;
}

h3 {
    text-align: center;
    color: white;
}

span {
    color: rgb(0, 0, 0);
    text-shadow: none;
}

/* about */

#about > .container {
    width: 35%;
    /* max-width: 80%; */
    /* height: 100%; */
    /* overflow: scroll; */
}

.page-title {
    display: flex;
    width: 35%;
    flex-direction: column;
    justify-content: center;
}

.portrait {
    align-self: center;
    /* border-radius: 0 30px 30px 30px; */
    box-shadow: .5rem .5rem black;
    width: 100%;
    border-radius: 200px;
}

/* projects */

#projects > .container {
    /* height: 55%; */
    width: 35%;
    /* max-width: 80%; */
}

.project1,
.project2,
.project1 > a,
.project2 > a {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.project1 > a,
.project1 > a > img,
.project1 > a > p,
.project2 > a,
.project2 > a > img,
.project2 > a > p {
    max-width: 100%;
    align-self: center;
    border-radius: 0 50px 50px 50px;
}

/* skills */
#skills > .container {
    overflow: scroll;
    width: 35%;
    /* max-width: 80%; */
}

#skills > .container > .block > .content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#skills > .container > .block > .content > element {
    flex-basis: 100%;
}

#skills > .container > .block > .content > element,
#skills > .container > .block > .content > element > i {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100px;
}

#skills > .container > .block > .content > element > i::before {
    font-size: 5rem;
    align-self: center;
}

#skills > .container > .block > .content > element > p {
    font-size: .8rem;
    align-self: center;
    text-align: center;
    /* flex-grow: 1; */
}

/* contact */

#contact > .container {
    /* height: 25%; */
    max-width: 80%;
}

#contact > .container > h3 {
    color: black;
}

#contact > .container > .block > .content {
    flex-direction: row;
}

#contact > .container > .block > .content > a > element,
#contact > .container > .block > .content > a > element > i {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    max-width: 120px;
} 

#contact > .container > .block > .content > a > element > i::before {
    font-size: 4rem;
    align-self: center;
}

#contact > .container > .block > .content > a > element > p {
    font-size: 1rem;
    align-self: center;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

